
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  letter-spacing: 1px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.2em;
  color: white;
}
header {
  margin: 5rem auto;
  text-align: center;
  font-size: 60px;
}
h1{
  margin: 5rem auto;
}
.div {
  height:50vh ;
  margin: 3rem;
  padding: 1rem;
  display: inline-block;
  background-color: #4158d0;
  box-shadow: 12px 7px 15px rgb(191, 185, 185);
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
.div:hover {
  transform: scale(1.03);
  transition: 1.5s;
}
img {
  float: left;
  width: 30vw;
  margin-right: 3rem;
  margin-top: 3rem;
  box-shadow: 4px 4px 13px wheat;
}
div ~ p {
  border: 2px solid blue;
  float: right;
  margin: 4rem auto;
}

.div__buton {
  width: 8rem;
  height: 2rem;
  border-color: wheat;
  border-radius: 35% 5%;
  font-style: italic;
  background-color: rgb(0, 217, 255);
  float: right;
  margin-top:10rem;
  color: white;
  box-shadow: 4px 4px 13px wheat;
}
.div__buton:hover {
  cursor: pointer;
  background-color: #c850c0;
  box-shadow: 3px 5px gray;

  
}

